html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 100%;
  // align-content: center;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
    background: url('../images/bg-blur.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    font-family: 'prenton-display', sans-serif;
}
