@import '_base.scss';
@import '_variables.scss';

.background-pattern {
  background-color: $color-backgroundColor;
  /* background by SVGBackgrounds.com */
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.hero {
    @extend .background-pattern;
    opacity: 1;
    padding: 1rem 0 3rem;
    text-align: center;
    color: $color-offwhite;
    font-family: "prenton-condensed", sans-serif;
    font-weight: 700;
    padding-bottom: 5em;
    border-bottom: 10px solid $color-accentblue;
}

.hero-title {
  text-transform: uppercase;
  font-size: 3.2rem;
  color: $color-accentblue;
}

.hero-subtitle {
  font-size: 1.6rem;
  font-weight: 400;
}

.about {
  width: 90%;
  max-width: $bp-1025;
  padding: 4rem 6rem;
  margin: 0px auto;
  position: relative;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;

  a {
    text-decoration: none;
    border-bottom: none;
    transition: border-bottom 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    color: $color-lightgrey;
    
    &:hover {
      border-bottom: 2px solid $color-lightgrey;
    }
    &:visited {
      color: $color-lightgrey;
    }
  }
}
.about__header {
  color: $color-accentblue;
}

.about__mugshot {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background: url('../images/simon.jpg') no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: auto;
  border: 8px solid $color-accentblue;
}

footer {
    @extend .background-pattern;
    background-color: #1a1a1a;
    padding: 20px;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    border-top: 10px solid $color-accentblue;
    margin-top: 6rem;

    color: #e4e4e4;

}

.contact-info {
    padding: 0;
}

.contact-info_item {
    display: inline-block;
    list-style-type: none;
    
    .fa {
        padding: 0.5rem;
        color: #e4e4e4;
            font-size: 1.6rem;
    }
}

.contact-info_item:last-of-type {
    border-right: none;
}


/* media queries */

@media screen and (max-width: $bp-641) {
  .hero {
    padding: 0.5rem 0.5rem 5rem;
  }

  .about {
    padding: 4rem 2rem;
  }

}







