<div class="about">
	<div class="about__mugshot"></div>
	<h1 class="about__header">About</h1>
	<p class="about__text">
		I'm an interactive developer with about 20 years of advertising industry experience. I've worked for some of the cream of the crop agencies (<a href="http://saatchi.com" target="_blank">Saatchi &amp; Saatchi</a>, <a href="http://www.deutschinc.com" target="_blank">Deutsch</a>, <a href="http://droga5.com" target="_blank">Droga5</a>), and I've created web sites and ads for clients and brands like Tylenol, Microsoft, Hennessy, Chase, Prudential, Google and countless others. Here's some of my recent interactive advertising work.
	</p>
</div>