<div class="about">
	<h1 class="about__header">About</h1>
	<p class="about__text">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id consectetur rem perspiciatis! Officia voluptates aspernatur, iure! Soluta dolorum rerum, tenetur eum, deserunt possimus, voluptate modi assumenda unde delectus ducimus, voluptates.
	</p>
</div>