<ul class="contact-info">
    <li class="contact-info_item">
        <a href="mailto:simon@simonabrams.com" alt="Email Me"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="contact-info_item">
        <a href="https://twitter.com/flysi" alt="Twitter"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="contact-info_item">
        <a href="https://www.linkedin.com/in/simonabrams/" alt="LinkedIn"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
    </li>
    <li class="contact-info_item">
        <a href="https://www.instagram.com/flysi3000/" alt="Instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
    </li>
</ul>